body{
  text-align: center;
  margin:0px;
}
h1{
  font-family: 'Dancing Script', cursive;
  font-size: 500%;
  color: #66BFBF;
  line-height: 2;
  margin: 12px auto 0 auto;
}

h2{
  font-weight: normal;
  font-size: 40px;
  color: #66BFBF;
}

h3{
  color: #11999E;
}

p{
  font-family: 'Merriweather', serif;
  color:#40514E;
}

a{
  color: #11999E;
  margin: 5rem;
}

.underlined{
  text-decoration: underline;
}
.topContainer{
  padding-top: 5%;
  background-color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
  font-size: 150%
}
.topcld{
  position: relative;
  left: 20%;
}

.bottomcld{
  position:absolute;
  left: 20%;
}

.copyryt{
  margin: 100px;
  margin-bottom: 0px;
}

.mountain{
  bottom: 0;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2.3;
}

.profile{
  border-radius: 100%;
  width: 35%;
  margin: 30px auto 0 auto;
}

.firstSkill{
  width: 30%;
  float: left;
  margin-right: 30px;
}

.game{
  width: 24%;
  float: right;
  margin-left: 30px;
}

.middleContainer{
  font-family: 'Montserrat', sans-serif;
}




.btn {
  margin: 62px auto;
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: block;
    width: 11%;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

hr{
  display: block;
  width: 3.5%;
    border-width: 6px;
    border: 0;
    border-top: 5px dotted #a2b5b5;
    margin: 50px auto;
}

.bottomContainer{
  padding: 50px;
    background-color: #66BFBF;
    margin-bottom: 0;
    padding-bottom: 0px;
}
